.status-blue {
  margin-bottom: 10px;
  background: white;
  background-color: #222;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: aqua;
  font-size: 1.5em;
  }

.status-red {
  margin-bottom: 10px;
  background: white;
  background-color: #222;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: tomato;
  font-size: 1.5em;
  }

.same-player-message {
  background: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: rebeccapurple;
}